@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=League+Spartan:wght@400;500;700&family=Lexend+Deca&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100vh;

}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    width: 90%;
    height: 90%;
}

.container {

    width: 100%;
    height: 100%;



}

.container>section {
    width: 100%;
    height: 50%;
}

.upper-section>section {
    width: 50%;
    height: 100%;
}

.upper-section {
    display: flex;
}

.lower-section {
    display: flex;

    justify-content: space-between;
}

.left-section>h1 {
    color: hsl(300, 43%, 22%);
    font-size: 2.7rem;
    font-family: 'League Spartan', sans-serif;

}

.left-section>p {
    font-family: 'League Spartan', sans-serif;
    color: hsl(303, 10%, 53%);
}

.left-section>* {
    margin-left: 3rem;

}

.left-section>h1:first-child {
    margin-top: 4rem;
}

.left-section>p:first-of-type {
    margin-top: 1rem;
}

.rating {
    display: flex;
    background-color: bisque;
    height: 3rem;
    width: 71%;

    align-items: center;
    justify-content: center;
    background-color: hsl(300, 24%, 96%);
    margin-bottom: 1rem;
    border-radius: .3rem;
    font-family: 'League Spartan', sans-serif;
    color: hsl(300, 43%, 22%);

}

.rating>h3 {
    margin-left: 2rem;
    font-size: .8rem;

}

.rating-2 {
    padding-left: 1.4rem;
    margin-left: 1rem;
}

.rating-1 {
    margin-top: 5rem;
}

.rating-3 {
    margin-left: 2rem;
}

.review-1 {
    background-color: brown;
}

.info-container {
    margin-bottom: 2rem;
}

.info-container>img {
    width: 3rem;
    border-radius: 50%;
    margin-right: 2rem;
}

.review {
    font-family: 'League Spartan', sans-serif;
    padding-inline: 2rem;
    padding-top: 2rem;
    background-color: hsl(300, 43%, 22%);
    width: 32%;
    color: white;
    height: 63%;
    border-radius: .4rem;
}

.info-container {
    display: flex;
    align-items: center;
}

.review-2 {

    margin-top: 2rem;

}

.review-3 {

    margin-top: 4rem;

}

/* Responsive */
@media (min-width:914px) and (max-width:1031px) {
    .review>p {
        font-size: .8rem;
    }




    .info-container {
        margin-bottom: 1rem;
    }

    .rating>h3 {
        font-size: .62rem;
    }

    .rating>.stars>* {
        width: 0.7rem;
    }

    .rating-2 {
        padding-left: 0.7rem;
    }

}

@media (min-width: 766px) and (max-width: 913px) {
    .review {
        height: 43%;
    }

    .info-container {
        margin-bottom: 1rem;
    }

    .info-container>img {
        width: 2rem;
    }

    .right-section>.rating {
        width: 86%;


    }

    .left-section>p {
        font-size: .8rem;
    }

    .left-section>h1 {
        font-size: 2rem;
    }

    .info-container>.reviewer-info>p {
        font-size: 0.7rem;
    }

    .review>p {
        font-size: .7rem;
    }

    .rating>.stars>* {
        width: 0.7rem;
    }

    .rating {
        width: 94%;
    }

    .upper-section {
        height: 48%;
    }
}

@media (min-width: 539px) and (max-width: 765px) {
    .review {
        height: 55%;
    }

    .info-container>.reviewer-info>p {
        font-size: .81rem;
    }

    .rating>h3 {
        font-size: .6rem;
    }



    .rating {
        width: 92%;
    }

    .left-section>h1 {
        font-size: 2rem;
    }

    .left-section>p {
        font-size: .76rem;
    }

    .rating>h3 {
        margin-left: 1rem;

    }



    .upper-section {
        height: 48%;
    }

    .left-section>* {
        margin-left: 1rem;

    }

    .info-container>img {
        width: 2rem;
    }

    .review>.info-container>.reviewer-info>p {
        font-size: 0.7rem;
    }

    .review>p {
        font-size: .7rem;
    }

    .info-container>img {
        margin-right: 1rem;
    }

    .review {
        padding-inline: 1rem;
        padding-top: 1.4rem;
    }

    .rating>.stars>* {
        width: 0.3rem;
    }
}

@media (min-width: 0px) and (max-width: 415px) {

    .upper-section,
    .lower-section {
        flex-direction: column;
        height: 50%;
        width: 100%;
    }

    .container>.upper-section {
        align-items: center;
        height: 41%;
    }

    .left-section>* {
        margin-left: 0;
    }

    .left-section>h1:first-child {
        margin-top: 0;

    }

    .right-section {
        height: 41%;
    }

    .left-section>h1 {

        font-size: 1.2rem;
        text-align: center;
    }

    .left-section>p {
        text-align: center;
        font-size: .7rem;
    }

    .upper-section>.left-section,
    .upper-section>.right-section {
        margin-top: 0rem;
        width: 81%;
    }

    .rating {
        margin-top: 1rem;
        width: 100%;
        margin-left: 0;
        flex-direction: column;
        align-items: center;

    }

    .rating>h3 {
        margin-left: 0;

    }

    .review {
        width: 96%;
        padding-inline: 1rem;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }

    .review>.info-container {
        margin-bottom: 1rem;
    }

    .lower-section>.review {
        font-size: .6em;
        margin-top: 1rem;
        height: 50%;
    }

    .review>p {
        padding-bottom: 1rem;
    }

    .review>.info-container>img {
        width: 2rem;
    }

    .rating-2>.stars {
        margin-right: 1.5rem;
    }

    .stars>* {
        width: 0.7rem;
    }

    .upper-section>.left-section,
    .upper-section>.right-section {
        height: 28%;
    }

    .lower-section {
        align-items: center;
    }


}

@media (min-width: 279px) and (max-width: 376px) and (min-height: 600px) and (max-height: 680px) {


    .rating {
        height: 2.5rem;

    }

    .review {
        padding-bottom: 0.4rem;
    }

    .review>.info-container {
        margin-bottom: 0.6rem;
    }

    .lower-section {
        margin-top: 1rem;
    }

    .upper-section>.left-section {
        height: 38%;
    }

    .upper-section>.right-section {
        padding-top: 0.8rem;
    }

    .rating>h3 {
        font-size: .6rem;
    }

    .review>p {
        padding-bottom: 0.4rem;
    }


    .left-section>p:first-of-type {
        margin-top: 0.5rem;
    }

    .lower-section {
        padding-top: 0.5rem;
    }
}